body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

.navbar {
    background: linear-gradient(to left, #0D1B2A, #1d3d6d);
    height: 70px;
}

.text-name-empresa i,
.text-name-empresa span {
    color: #e0e1dd;
    font-size: 28pt;
    align-items: center;
    letter-spacing: 3px;
    font-weight: bold;
}

.btn-logout {
    color: #e0e1dd;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn {
    width: 100px;
    color: #e0e1dd;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
}

.sidebar-item {
    background-color: #0D1B2A;
    margin-top: 55px;
    width: 270px;
    height: 100vh;
    padding: 20px;
}

.nav-link {
    margin: 25px 0px 0px;
    color: #e0e1dd;
    font-size: 15pt;
    padding: 15px 10px;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.nav-link:hover {
    color: #e0e1dd;
    background: #1d344d;
}

.dropdown-menu {
    background-color: #030722;
    border-radius: 10px;
}

.dropdown-item {
    color: #e0e1dd;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.dropdown-item:hover {
    color: #e0e1dd;
    background-color: #1d344d;
    border-radius: 5px;
}

.main-content {
    background-color: #8790ac;
    margin-top: 70px;
    margin-left: 270px;
    padding: 20px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    text-align: center;
}

.card-tickets{
    display: flex;
    justify-content: center;
    gap: 140px;
    padding: 10px;
    margin: 35px 15px;
    height: 150px;
    font-size: 18pt;
    color: #e0e1dd;
}

.card-ticket-pendentes{
    background: linear-gradient(to right, #0D1B2A, #0a2547);
    height: 120px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.card-ticket-assumidos{
    background: linear-gradient(to right, #0D1B2A, #0a2547);
    height: 120px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.card-ticket-encerrados{
    background: linear-gradient(to right, #0D1B2A, #0a2547);
    height: 120px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.meu-popup {
    background: #29416f;
    color: #E0E1DD;
    border-radius: 20px;
    padding: 20px;
}

.meu-titulo {
    font-weight: bold;
    font-size: 30px;
}

.meu-texto {
    font-size: 20px;
}

.meu-botao-ok {
    font-weight: bold;
    background: #152687;
    border-radius: 10px;
}

.meu-botao-ok:hover {
    background: #3380c8;
}

.meu-botao-cancel {
    font-weight: bold;
    background: #5366d2;
    border-radius: 10px;
}

.meu-botao-cancel:hover {
    background: #3380c8;
}

.swal2-icon {
    font-size: 20px !important;
    color: #E0E1DD !important;
    background-color: #0D1B2A;
    border: none;
}